<header class="page-header">
<h1>About Us</h1>
</header>

<div class="well">
<p>Jungle sells different products based on 3 different categories.</p>
<p>--> Apparel</p>
<p>--> Electronics</p>
<p>--> Furniture</p>

</div>